<!DOCTYPE HTML>
<html th:replace="~{layoutMain :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>물품 수정</title>
</head>
<body>

<section>
<div class="container">

    <div class="py-5 text-center">
        <h2>물품 수정 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error"
               th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
        </div>


        <div>
<!--            <label for="id" th:text="#{label.item.id}">물품 ID</label>-->
<!--&lt;!&ndash;            <input type="text" id="id" name="id" class="form-control" value="1" th:value="${item.id}" readonly>&ndash;&gt;-->
<!--            <input type="text"-->
<!--                   id="id"-->
<!--                   class="form-control "-->
<!--                   th:field="*{id}"-->
<!--                   readonly>-->
            <label for="id" th:text="#{label.item.id}">상품 ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control"
            >


        </div>
        <div>
            <label for="itemName" th:text="#{label.item.itemName}">물품명</label>
<!--            <input type="text" id="itemName" name="itemName" class="form-control" value="물품A" th:value="${item.itemName}" readonly>-->
            <input type="text" id="itemName" th:field="*{itemName}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error"
                 th:errors="*{itemName}">
                상품명 오류

            </div>
        <div>
            <label for="quantity">수량</label>
<!--            <input type="text" id="quantity" name="quantity" class="form-control" value="10" th:value="${item.quantity}" readonly>-->
            <input type="text"
                   class="form-control"
                   value="10" th:field="*{quantity}"
                   th:errorclass="field-error">
            <div class="field-error"
                 th:errors="*{quantity}">
                수량 오류
            </div>

        </div>

        <div>미개봉 새 물품</div>
        <div>
            <div class="form-check">
                <input type="checkbox" th:field="*{open}" class="form-check-input">
                <label for="open" class="form-check-label">미개봉 새 물품</label>
            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>Tags</div>
            <div th:each="tag : ${tags}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{tags}" th:value="${tag.key}"
                       class="form-check-input">
                <label th:for="${#ids.prev('tags')}"
                       th:text="${tag.value}" class="form-check-label">태그</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>물품 종류</div>
            <div th:each="type : ${itemTypes}"
                 class="form-check form-check-inline">
                <input type="radio"
                       th:field="*{itemType}"
                       th:value="${type.name()}"
                       class="form-check-input">
                <label th:for="${#ids.prev('itemType')}"
                       th:text="${type.description}"
                       class="form-check-label">BOOK</label>
            </div>
        </div>

        <!-- SELECT -->
        <div>
            <div>위치</div>
            <select th:field="*{placeCode}" class="form-select">
                <option value="">==위치 선택==</option>
                <option th:each="placeCode : ${placeCodes}"
                        th:value="${placeCode.code}"
                        th:text="${placeCode.displayName}">안방 옷장</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='item.html'"
                        th:onclick="|location.href='@{/form/items/{itemId}(itemId=${item.id})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</section>
</body>
</html>