<!DOCTYPE html>
<html th:replace="~{layoutMain :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>물품 관리</title>
</head>
<body>

<section>

<div class="container">

    <div class="py-5 text-center">
        <h2>물품 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="itemId">물품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${item.id}" disabled>
    </div>
    <div>
        <label for="itemName">물품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control" value="물품A" th:value="${item.itemName}" disabled>
    </div>
<!--    <div>-->
<!--        <label for="price">가격</label>-->
<!--        <input type="text" id="price" name="price" class="form-control" value="10000" th:value="${item.price}" readonly>-->
<!--    </div>-->
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control" value="10" th:value="${item.quantity}" disabled>
    </div>

    <div>미개봉 새 물품</div>
    <div>
        <div class="form-check">
            <input id="open"
                   type="checkbox"
                   th:field="${item.open}"
                   class="form-check-input" disabled>
            <label for="open"
                   class="form-check-label">미개봉 새 물품</label>
        </div>
    </div>

    <!-- multi checkbox -->
    <div>
        <div>Tags</div>
        <div th:each="tag : ${tags}" class="form-check form-check-inline">
            <label>
                <input type="checkbox"
                       th:field="${item.tags}"
                       th:value="${tag.key}"
                       class="form-check-input">
            </label>
            <label th:for="${#ids.prev('tags')}"
                   th:text="${tag.value}"
                   class="form-check-label">서울</label>
        </div>
    </div>

    <!-- radio button -->
    <div>
        <div>물품 종류</div>
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <label>
                <input type="radio"
                       th:field="${item.itemType}"
                       th:value="${type.name()}"
                       class="form-check-input"
                       disabled>
            </label>
            <label th:for="${#ids.prev('itemType')}"
                   th:text="${type.description}"
                   class="form-check-label">BOOK</label>
        </div>
    </div>

    <!-- SELECT -->
    <div>
        <div>위치</div>
        <label>
            <select th:field="${item.placeCode}" class="form-select" disabled>
                <option value="">==위치 선택==</option>
                <option th:each="placeCode : ${placeCodes}"
                        th:value="${placeCode.code}"
                        th:text="${placeCode.displayName}">안방 옷장</option>
            </select>
        </label>
    </div>


    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/form/items/{itemId}/edit(itemId=${item.id})}'|"
                    type="button">물품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/form/items}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</section>

</body>
</html>