<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Sample</title>
</head>
<body>


<h1>String 출력 text / utext</h1>
<ul>
  <li>th:text 사용 <span th:text="${simpleString}"></span></li>
  <li>th:utext 사용 <span th:utext="${simpleString}"></span></li>
  <li>컨텐츠 안에서 직접 출력하기 = [[${simpleString}]]</li>
  <li>컨텐츠 안에서 직접 출력하기 = [(${simpleString})]</li>
</ul>

<h1>SpringEL 표현식</h1>
<ul>Object
    <li>${user1.userName} = <span th:text="${user1.userName}"></span></li>
    <li>${user1['userName']} = <span th:text="${user1['userName']}"></span></li>
    <li>${user1.getUserName} = <span th:text="${user1.getUserName()}"></span></li>
</ul>

<ul>List
    <li>${userList[0].userName} = <span th:text="${userList[0].userName}"></span> </li>
    <li>${userList[0]['userName']} = <span th:text="${userList[0]['userName']}"></span> </li>
    <li>${userList[0].getUserName()} = <span th:text="${userList[0].getUserName()}"></span> </li>
</ul>

<ul>Map
    <li>${userMap['userA'].userName} = <span th:text="${userMap['userA'].userName}"></span> </li>
    <li>${userMap['userA']['userName']} = <span th:text="${userMap['userA']['userName']}"></span> </li>
    <li>${userMap['userA'].getUserName()} = <span th:text="${userMap['userA'].getUserName()}"></span> </li>
</ul>

<h1>지역변수 사용 - (th:with)</h1>
<div th:with="localVariable=${userList[0]}">
    <p>처음 사람의 이름은 <span th:text="${localVariable.userName}"></span> </p>
</div>

<h1>식 기본 객체 (Expression Basic Objects)</h1>
<ul>
<!--    <li>request = <span th:text="${#request}"></span></li>-->
<!--    <li>response = <span th:text="${#response}"></span></li>-->
<!--    <li>session = <span th:text="${#session}"></span></li>-->
<!--    <li>servletContext = <span th:text="${#servletContext}"></span></li>-->
    <li>locale = <span th:text="${#locale}"></span></li>
</ul>
<h1>편의 객체</h1>
<ul>
    <li>${param.paramData} = <span th:text="${param.paramData}"></span></li>
    <li>${session.mySessionData} = <span th:text="${session.mySessionData}"></span></li>
    <li>${@sampleBeanName.methodFromBean()} = <span th:text="${@sampleBeanName.methodFromBean()}"></span></li>

</ul>

<h1>LocalDateTime</h1>
<ul>
    <li>default = <span th:text="${localDateTime}"></span></li>
    <li>yyyy-MM-dd HH:mm:ss = <span th:text="${#temporals.format(localDateTime,'yyyy-MM-dd HH:mm:ss')}"></span></li>
</ul>
<h1>LocalDateTime - Utils</h1>
<ul>
    <li>${#temporals.day(localDateTime)} = <span th:text="${#temporals.day(localDateTime)}"></span></li>
    <li>${#temporals.month(localDateTime)} = <span th:text="${#temporals.month(localDateTime)}"></span></li>
    <li>${#temporals.monthName(localDateTime)} = <span th:text="${#temporals.monthName(localDateTime)}"></span></li>
    <li>${#temporals.monthNameShort(localDateTime)} = <span th:text="${#temporals.monthNameShort(localDateTime)}"></span></li>
    <li>${#temporals.year(localDateTime)} = <span th:text="${#temporals.year(localDateTime)}"></span></li>
    <li>${#temporals.dayOfWeek(localDateTime)} = <span th:text="${#temporals.dayOfWeek(localDateTime)}"></span></li>
    <li>${#temporals.dayOfWeekName(localDateTime)} = <span th:text="${#temporals.dayOfWeekName(localDateTime)}"></span></li>
    <li>${#temporals.dayOfWeekNameShort(localDateTime)} = <span th:text="${#temporals.dayOfWeekNameShort(localDateTime)}"></span></li>
    <li>${#temporals.hour(localDateTime)} = <span th:text="${#temporals.hour(localDateTime)}"></span></li>
    <li>${#temporals.minute(localDateTime)} = <span th:text="${#temporals.minute(localDateTime)}"></span></li>
    <li>${#temporals.second(localDateTime)} = <span th:text="${#temporals.second(localDateTime)}"></span></li>
    <li>${#temporals.nanosecond(localDateTime)} = <span th:text="${#temporals.nanosecond(localDateTime)}"></span></li>
</ul>

<h1>URL 링크</h1>
<ul>
    <li><a th:href="@{/hello}">basic url</a></li>
    <li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a></li>
    <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a></li>
    <li><a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query parameter</a></li>
</ul>


<h1>리터럴</h1>
<ul>
    <!--주의! 다음 주석을 풀면 예외가 발생함-->
    <!-- <li>"hello world!" = <span th:text="hello world!"></span></li>-->
    <li>'hello' + ' world!' = <span th:text="'hello' + ' world!'"></span></li>
    <li>'hello world!' = <span th:text="'hello world!'"></span></li>
    <li>'hello ' + ${data} = <span th:text="'hello ' + ${literalData}"></span></li>
    <li>리터럴 대체 |hello ${data}| = <span th:text="|hello ${literalData}|"></span></li>
</ul>

<h1>연산</h1>
<ul>
    <li>산술 연산
        <ul>
            <li>10 + 2 = <span th:text="10 + 2"></span></li>
            <li>10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li>
        </ul>
    </li>
    <li>비교 연산
        <ul>
            <li>1 > 10 = <span th:text="1 &gt; 10"></span></li>
            <li>1 gt 10 = <span th:text="1 gt 10"></span></li>
            <li>1 >= 10 = <span th:text="1 >= 10"></span></li>
            <li>1 ge 10 = <span th:text="1 ge 10"></span></li>
            <li>1 == 10 = <span th:text="1 == 10"></span></li>
            <li>1 != 10 = <span th:text="1 != 10"></span></li>
        </ul>
    </li>
    <li>조건식
        <ul>
            <li>(10 % 2 == 0)? '짝수':'홀수' = <span th:text="(10 % 2 == 0)? '짝수':'홀수'"></span></li>
        </ul>
    </li>
    <li>Elvis 연산자 - 데이터 없을때
        <ul>
            <li>${data}?: '데이터가 없습니다.' = <span th:text="${operationData}?: '데이터가 없습니다.'"></span></li>
            <li>${nullData}?: '데이터가 없습니다.' = <span th:text="${operationNullData}?: '데이터가 없습니다.'"></span></li>
        </ul>
    </li>
    <li>No-Operation (타임리프 렌더링 안하는것과 같이)
        <ul>
            <li>${data}?: _ = <span th:text="${operationData}?: _">데이터가 없습니다.</span></li>
            <li>${nullData}?: _ = <span th:text="${operationNullData}?: _">데이터가 없습니다.</span></li>
        </ul>
    </li>
</ul>

<h1>속성 설정</h1>
<input type="text" name="mock" th:name="userA" />
<h1>속성 추가</h1>
- th:attrappend = <input type="text" class="text" th:attrappend="class='large'" /><br/>
- th:attrprepend = <input type="text" class="text" th:attrprepend="class='large'" /><br/>
- th:classappend = <input type="text" class="text" th:classappend="large" /><br/>

<h1>checked 처리</h1>
- checked o <input type="checkbox" name="active" th:checked="true" /><br/>
- checked x <input type="checkbox" name="active" th:checked="false" /><br/>
- checked=false <input type="checkbox" name="active" checked="false" /><br/>

<h1>반복 - 기본 테이블</h1>
<table border="1">
    <tr>
        <th>username</th>
        <th>age</th>
    </tr>
    <tr th:each="user : ${repeatUserList}">
        <td th:text="${user.userName}">username</td>
        <td th:text="${user.age}">0</td>
    </tr>
</table>

<h1>반복 상태 유지</h1>
<table border="1">
    <tr>
        <th>count</th>
        <th>username</th>
        <th>age</th>
        <th>etc</th>
    </tr>
    <tr th:each="user, userStat : ${repeatUserList}">
        <!-- 아래와 같이 Stat 생략해도 됨-->
<!--    <tr th:each="user, user : ${repeatUserList}">-->
        <td th:text="${userStat.count}">username</td>
        <td th:text="${user.userName}">username</td>
        <td th:text="${user.age}">0</td>
        <td>
            index = <span th:text="${userStat.index}"></span>
            count = <span th:text="${userStat.count}"></span>
            size = <span th:text="${userStat.size}"></span>
            even? = <span th:text="${userStat.even}"></span>
            odd? = <span th:text="${userStat.odd}"></span>
            first? = <span th:text="${userStat.first}"></span>
            last? = <span th:text="${userStat.last}"></span>
            current = <span th:text="${userStat.current}"></span>
        </td>
    </tr>
</table>


<h1>if, unless</h1>
<table border="1">
    <tr>
        <th>count</th>
        <th>username</th>
        <th>age</th>
    </tr>
    <tr th:each="user, userStat : ${ifUnlessUserList}">
        <td th:text="${userStat.count}">1</td>
        <td th:text="${user.userName}">username</td>
        <td>
            <span th:text="${user.age}">0</span>
            <span th:text="'미성년자'" th:if="${user.age lt 20}"></span>
            <span th:text="'미성년자'" th:unless="${user.age ge 20}"></span>
        </td>
    </tr>
</table>
<h1>switch</h1>
<table border="1">
    <tr>
        <th>count</th>
        <th>username</th>
        <th>age</th>
    </tr>
    <tr th:each="user, userStat : ${ifUnlessUserList}">
        <td th:text="${userStat.count}">1</td>
        <td th:text="${user.userName}">username</td>
        <td th:switch="${user.age}">
            <span th:case="10">10살</span>
            <span th:case="20">20살</span>
            <span th:case="*">기타</span>
        </td>
    </tr>
</table>

<h1>주석 예시</h1>
<span th:text="${commentsData}">html data</span>
<h1>1. 표준 HTML 주석</h1>
<!--
<span th:text="${commentsData}">html data</span>
-->
<h1>2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] */-->

<!--/*-->
<span th:text="${commentsData}">html data</span>
<!--*/-->

<h1>3. 타임리프 프로토타입 주석</h1>
<!--/*/
<span th:text="${commentsData}">html data</span>
/*/-->


<th:block th:each="user : ${blockUserList}">
    <div>
        사용자 이름1 <span th:text="${user.userName}"></span>
        사용자 나이1 <span th:text="${user.age}"></span>
    </div>
    <div>
        요약 <span th:text="${user.userName} + ' / ' + ${user.age}"></span>
    </div>
</th:block>


</body>

<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = [[${javascriptUser.userName}]];
    var age = [[${javascriptUser.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${javascriptUser.userName}]]*/ "test username";
    //객체
    var user = [[${javascriptUser}]];
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${javascriptUser.userName}]];
    var age = [[${javascriptUser.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${javascriptUser.userName}]]*/ "test username";
    //객체
    var user = [[${javascriptUser}]];
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${javascriptUserList}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]
</script>
</html>