<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>사용자 관리
        <ul>
            <li><a href="/admin/users">사용자 관리</a></li>
        </ul>
    </li>
    <li>재고 관리
        <ul>
            <li><a href="/form/items/add">신규 등록</a></li>
            <li><a href="/form/items">목록 조회</a></li>
        </ul>
    </li>
    <li>장소 관리
        <ul>
            <li><a href="/form/place/add">신규 등록</a></li>
            <li><a href="/form/place">목록 조회</a></li>
        </ul>
    </li>
</ul>
</body>
</html>
